@import url('https://fonts.googleapis.com/css?family=Lato:100,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SectionOne {
height: 100vh;
color: white;
font-family: 'Lato', sans-serif;
position: relative;
font-size: 10px;
}

.SectionOne a {
  text-decoration: none;
  color: #fff;
}


.SectionOne section {
  padding: 10rem 0;
  background-color:rgba(0,31,51,1);
}

.SectionOne .Heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.SectionOne .Heading::after {
  content: "";
  width: 10rem;
  height: .8rem;
  background-color: #0088A9;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.SectionOne .Card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.SectionOne .Card-wrapper .Card {
  width: 32rem;
  background-color: #001b2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.SectionOne .Card-wrapper .Card img {
  width: 100%;
  height: 22rem;
  object-fit: contain;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.SectionOne .Card-wrapper .Card h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.SectionOne .Card-wrapper .Card p {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1.5rem;
  font-style: italic;
  text-align: center;
}

.SectionOne .Card-wrapper .Card .Btn {
  padding: 1rem 2.5rem;
  background-color: #0088A9;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all .5s;
}

.SectionOne .Card-wrapper .Card .Btn:hover {
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}


.SectionOne .Card-wrapper .Card .Btn:active {
  transform: translateY(0);
  box-shadow: none;
}

@media screen and (min-width: 700px) {
  .SectionOne .Card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .SectionOne .Card-wrapper .Card {
    margin: 2rem;
    transition: all .5s ease;
  }

}
