* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #001F33;
}

.App {
    background-color: #001F33;
    height: 100%;
    /*color: white;*/
}

.fade-appear,
.fade-enter {
    opacity: 0.2;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.2;
    background-color: #001F33;
    transition: opacity 150ms ease-in-out;
}


/*Button*/

.Button {
    padding: 1rem 2.5rem;
    background-color: rgb(15, 63, 75);
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all .5s;
    color: white;

}


.Button:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}

.Button:active {
    transform: translateY(0);
    box-shadow: none;
}